/* background color */
body {
    background-color: #E9D8C8;
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    }
/* Title of the page */
h1 {
    color: #802121;
    border: solid;
    border-color: #DE1559;
    font-size: 50px;
    text-align: center;

}
/* subheadings for the page */
h2{
    color: #802121;
    font-size: 35px;
    text-align: center;
}
/* navigation section */
nav {
    color: #DE1559;
    text-align: center;
    border: solid;
}
p {
   text-align: center; 
}