/* background color */
body {
    background-color: #f8ddba;
    color: black;
    font-size: 17px;
}
/* Title of the page */
h1 {
    border-style: ridge;
    border-color: #DA9B22;
    border-width: 20px;
    color: #E0216B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
/* subheadings for the page */
h2{
    color: #112492;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
}
/* navigation section */
nav {
    border: solid;
    border-color: #4a7da0;
    font-family: 'Raleway', sans-serif;
    padding: 1%;
    text-align: center;
}
/* Paragraphs for the page */
p {
   text-align: center;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   margin-left: 20%;
   margin-right: 20%;
}
/* All images on the page */
.images {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

.images figcaption {
    color: #ae7eaf;
}